#Eingabefeld{
    display: flex; /* Flexbox für nebeneinander */
    justify-content: center; /* Zentriert die Eingabefelder horizontal */
    gap: 10px; /* Abstand zwischen den Feldern */
    margin-bottom: 20px; /* Abstand unterhalb der Eingabefelder */
}

#Liste{
    border: 2px solid #333;  
    padding: 10px;  /* Abstand innerhalb des Rahmens */
    margin-bottom: 10px;  /* Abstand zwischen den Notizen */
    background-color: #f9f9f9;  
    border-radius: 15px;  
    list-style-type: none;  
    display: flex;  
    justify-content: space-between;  /* Verteilte Ausrichtung von Text und Button */
    align-items: center;  /* Vertikale Ausrichtung */ 

}
#NotizLoeschen{
    background-color: #ff4d4d;  
    color: white;  
    border: none;  /* Entfernt den Standardrahmen des Buttons */
    padding: 5px 10px;  /* Innenabstand im Button */
    cursor: pointer;  
    border-radius: 3px;  /* Abgerundete Ecken für den Button */
}
#NotizLoeschen:hover {
    background-color: #ff1a1a;  /* Etwas dunklerer Rotton beim Hover */
}

#Ueberschrift{
    text-align: center;
    padding: 10px 20px;  /* Innenabstand */
    border: 2px solid #333; 
    border-radius: 15px;  
    margin: 10px;  /* Abstand zwischen den Notizen */
}
#Notizen{
    text-align: center;
    padding: 10px 20px;  /* Innenabstand */
    border: 2px solid #333; 
    border-radius: 15px;  
    margin: 10px;  /* Abstand zwischen den Notizen */
}
#Einfuegen{
    background-color: #0eb448;  
    color: white;  
    border: none;  /* Entfernt den Standardrahmen des Buttons */
    padding: 10px 20px;  /* Innenabstand */
    margin-top: 20px;  /* Abstand nach oben */
    cursor: pointer;  
    border-radius: 5px;  
}
#Einfuegen:hover {
    background-color: #089816;  /* Etwas dunklerer Rotton beim Hover */
}
#allesLoeschen{
    background-color: #333; 
    color: white;  
    border: none;  
    padding: 10px 20px;  /* Innenabstand */
    margin-top: 20px;  /* Abstand nach oben */
    cursor: pointer;  
    border-radius: 5px;  
}

#allesLoeschen:hover {
    background-color: #000000;  
}

